In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Chargement du dataset (ajustez le nom du fichier si nécessaire)
df = pd.read_csv('../data/raw/data.csv') 

# Aperçu des 5 premières lignes
print(f"Dimensions du dataset : {df.shape}")
df.head()

Dimensions du dataset : (4372, 52)

,CustomerID,Recency,Frequency,MonetaryTotal,MonetaryAvg,MonetaryStd,MonetaryMin,MonetaryMax,TotalQuantity,AvgQuantityPerTransaction,...,Region,LoyaltyLevel,ChurnRiskCategory,WeekendPreference,BasketSizeCategory,ProductDiversity,Gender,AccountStatus,Country,Churn
0,17850,302,35,5288.63,16.950737,13.603662,-30.60,107.25,1693,5.426282,...,UK,Jeune,Critique,Inconnu,Moyen,Explorateur,Unknown,Active,United Kingdom,1
1,13047,32,18,3079.10,15.709694,11.684769,-15.00,68.00,1355,6.913265,...,UK,Établi,Moyen,Semaine,Moyen,Explorateur,M,Active,United Kingdom,0
2,12583,3,18,7187.34,28.634821,23.150132,-60.84,132.80,5009,19.956175,...,Europe continentale,Ancien,Faible,Semaine,Grand,Explorateur,Unknown,Active,France,0
3,13748,96,5,948.25,33.866071,42.953119,9.36,204.00,439,15.678571,...,UK,Établi,Critique,Inconnu,Grand,Explorateur,Unknown,Active,United Kingdom,1
4,15100,330,6,635.10,105.850000,215.986263,-131.40,350.40,58,9.666667,...,UK,Jeune,Critique,Inconnu,Moyen,Spécialisé,M,Active,United Kingdom,1

In [6]:
print(df.columns.tolist())

['CustomerID', 'Recency', 'Frequency', 'MonetaryTotal', 'MonetaryAvg', 'MonetaryStd', 'MonetaryMin', 'MonetaryMax', 'TotalQuantity', 'AvgQuantityPerTransaction', 'MinQuantity', 'MaxQuantity', 'CustomerTenureDays', 'FirstPurchaseDaysAgo', 'PreferredDayOfWeek', 'PreferredHour', 'PreferredMonth', 'WeekendPurchaseRatio', 'AvgDaysBetweenPurchases', 'UniqueProducts', 'UniqueDescriptions', 'AvgProductsPerTransaction', 'UniqueCountries', 'NegativeQuantityCount', 'ZeroPriceCount', 'CancelledTransactions', 'ReturnRatio', 'TotalTransactions', 'UniqueInvoices', 'AvgLinesPerInvoice', 'Age', 'RegistrationDate', 'NewsletterSubscribed', 'LastLoginIP', 'SupportTicketsCount', 'SatisfactionScore', 'RFMSegment', 'AgeCategory', 'SpendingCategory', 'CustomerType', 'FavoriteSeason', 'PreferredTimeOfDay', 'Region', 'LoyaltyLevel', 'ChurnRiskCategory', 'WeekendPreference', 'BasketSizeCategory', 'ProductDiversity', 'Gender', 'AccountStatus', 'Country', 'Churn']

In [7]:
age_missing = df['Age'].isnull().sum()
print(f"Valeurs manquantes dans Age : {age_missing} ({age_missing/len(df)*100:.2f}%)")

Valeurs manquantes dans Age : 1311 (29.99%)

In [8]:
# 2. Vérification des anomalies (5-8% attendus)
# Cherchons des valeurs comme -1, 99 ou 999
print("\nStatistiques des scores et tickets :")
print(df[['SupportTicketsCount', 'SatisfactionScore']].describe())

Statistiques des scores et tickets :
       SupportTicketsCount  SatisfactionScore
count          4372.000000        4372.000000
mean             21.778591           5.328225
std             139.267307          15.410883
min              -1.000000          -1.000000
25%               1.000000           2.000000
50%               2.000000           3.000000
75%               3.000000           4.000000
max             999.000000          99.000000

In [9]:
# 3. Vérification de l'inconsistance des dates
print("\nAperçu des dates d'inscription :")
print(df['RegistrationDate'].unique()[:10])

Aperçu des dates d'inscription :
<StringArray>
[  '17/07/10', '2010-10-04', '12/09/2009',   '28/01/10', '2009-12-10',
 '10/18/2010',   '02/11/10', '2010-12-17', '09/23/2010',   '04/09/10']
Length: 10, dtype: str