In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Chargement du dataset (ajustez le nom du fichier si nécessaire)
df = pd.read_csv('../data/raw/data.csv') 

# Aperçu des 5 premières lignes
print(f"Dimensions du dataset : {df.shape}")
df.head()

Dimensions du dataset : (4372, 52)

,CustomerID,Recency,Frequency,MonetaryTotal,MonetaryAvg,MonetaryStd,MonetaryMin,MonetaryMax,TotalQuantity,AvgQuantityPerTransaction,...,Region,LoyaltyLevel,ChurnRiskCategory,WeekendPreference,BasketSizeCategory,ProductDiversity,Gender,AccountStatus,Country,Churn
0,17850,302,35,5288.63,16.950737,13.603662,-30.60,107.25,1693,5.426282,...,UK,Jeune,Critique,Inconnu,Moyen,Explorateur,Unknown,Active,United Kingdom,1
1,13047,32,18,3079.10,15.709694,11.684769,-15.00,68.00,1355,6.913265,...,UK,Établi,Moyen,Semaine,Moyen,Explorateur,M,Active,United Kingdom,0
2,12583,3,18,7187.34,28.634821,23.150132,-60.84,132.80,5009,19.956175,...,Europe continentale,Ancien,Faible,Semaine,Grand,Explorateur,Unknown,Active,France,0
3,13748,96,5,948.25,33.866071,42.953119,9.36,204.00,439,15.678571,...,UK,Établi,Critique,Inconnu,Grand,Explorateur,Unknown,Active,United Kingdom,1
4,15100,330,6,635.10,105.850000,215.986263,-131.40,350.40,58,9.666667,...,UK,Jeune,Critique,Inconnu,Moyen,Spécialisé,M,Active,United Kingdom,1

In [6]:
print(df.columns.tolist())

['CustomerID', 'Recency', 'Frequency', 'MonetaryTotal', 'MonetaryAvg', 'MonetaryStd', 'MonetaryMin', 'MonetaryMax', 'TotalQuantity', 'AvgQuantityPerTransaction', 'MinQuantity', 'MaxQuantity', 'CustomerTenureDays', 'FirstPurchaseDaysAgo', 'PreferredDayOfWeek', 'PreferredHour', 'PreferredMonth', 'WeekendPurchaseRatio', 'AvgDaysBetweenPurchases', 'UniqueProducts', 'UniqueDescriptions', 'AvgProductsPerTransaction', 'UniqueCountries', 'NegativeQuantityCount', 'ZeroPriceCount', 'CancelledTransactions', 'ReturnRatio', 'TotalTransactions', 'UniqueInvoices', 'AvgLinesPerInvoice', 'Age', 'RegistrationDate', 'NewsletterSubscribed', 'LastLoginIP', 'SupportTicketsCount', 'SatisfactionScore', 'RFMSegment', 'AgeCategory', 'SpendingCategory', 'CustomerType', 'FavoriteSeason', 'PreferredTimeOfDay', 'Region', 'LoyaltyLevel', 'ChurnRiskCategory', 'WeekendPreference', 'BasketSizeCategory', 'ProductDiversity', 'Gender', 'AccountStatus', 'Country', 'Churn']

In [7]:
age_missing = df['Age'].isnull().sum()
print(f"Valeurs manquantes dans Age : {age_missing} ({age_missing/len(df)*100:.2f}%)")

Valeurs manquantes dans Age : 1311 (29.99%)

In [8]:
# 2. Vérification des anomalies (5-8% attendus)
# Cherchons des valeurs comme -1, 99 ou 999
print("\nStatistiques des scores et tickets :")
print(df[['SupportTicketsCount', 'SatisfactionScore']].describe())

Statistiques des scores et tickets :
       SupportTicketsCount  SatisfactionScore
count          4372.000000        4372.000000
mean             21.778591           5.328225
std             139.267307          15.410883
min              -1.000000          -1.000000
25%               1.000000           2.000000
50%               2.000000           3.000000
75%               3.000000           4.000000
max             999.000000          99.000000

In [9]:
# 3. Vérification de l'inconsistance des dates
print("\nAperçu des dates d'inscription :")
print(df['RegistrationDate'].unique()[:10])

Aperçu des dates d'inscription :
<StringArray>
[  '17/07/10', '2010-10-04', '12/09/2009',   '28/01/10', '2009-12-10',
 '10/18/2010',   '02/11/10', '2010-12-17', '09/23/2010',   '04/09/10']
Length: 10, dtype: str

In [2]:
import pandas as pd

# Charger le fichier nettoyé
df = pd.read_csv('../data/processed/retail_customers_PREPROCESSED.csv')

# Afficher les 5 premières lignes de façon structurée
# On utilise .head() et on configure pandas pour tout voir
pd.set_option('display.max_columns', None) 
pd.set_option('display.width', 1000)

print("Aperçu des données nettoyées :")
print(df.head())

print("\nColonnes créées :")
print(df[['RegYear', 'RegMonth', 'MonetaryPerDay']].head())

Aperçu des données nettoyées :
   CustomerID  Recency  Frequency  MonetaryTotal  MonetaryAvg  MonetaryStd  MonetaryMin  MonetaryMax  TotalQuantity  AvgQuantityPerTransaction  MinQuantity  MaxQuantity  CustomerTenureDays  FirstPurchaseDaysAgo  PreferredDayOfWeek  PreferredHour  PreferredMonth  WeekendPurchaseRatio  AvgDaysBetweenPurchases  UniqueProducts  UniqueDescriptions  AvgProductsPerTransaction  UniqueCountries  NegativeQuantityCount  ZeroPriceCount  CancelledTransactions  ReturnRatio  TotalTransactions  UniqueInvoices  AvgLinesPerInvoice   Age  SupportTicketsCount  SatisfactionScore  RFMSegment AgeCategory SpendingCategory CustomerType FavoriteSeason PreferredTimeOfDay               Region LoyaltyLevel ChurnRiskCategory WeekendPreference BasketSizeCategory ProductDiversity   Gender AccountStatus         Country  Churn  Satisfaction_was_invalid  RegYear  RegMonth  MonetaryPerDay
0       17850      302         35        5288.63    16.950737    13.603662       -30.60       107.25           1693                   5.426282          -12           12                  71                   374                   3              9              12              0.000000                 0.221865              24                  25                   0.685714                1                     15               0                     15     0.048077                312              35            8.914286  49.0                  1.0                4.0     Fidèles     Inconnu              VIP        Perdu          Hiver              Matin                   UK        Jeune          Critique           Inconnu              Moyen      Explorateur  Unknown        Active  United Kingdom      1                         0     2010         7       17.454224
1       13047       32         18        3079.10    15.709694    11.684769       -15.00        68.00           1355                   6.913265           -3           32                 342                   374                   2             13              10              0.168367                 1.717949             106                 106                   5.888889                1                     24               0                     24     0.122449                196              18           10.888889  49.0                  3.0                4.0   Champions     Inconnu              VIP     Régulier        Automne               Midi                   UK       Établi             Moyen           Semaine              Moyen      Explorateur        M        Active  United Kingdom      0                         0     2010         4       93.306061
2       12583        3         18        7187.34    28.634821    23.150132       -60.84       132.80           5009                  19.956175          -36          360                 370                   374                   4             12              11              0.055777                 1.456000             115                 117                   6.388889                1                      4               0                      4     0.015936                251              18           13.944444  46.0                  2.0                5.0   Champions       45-54              VIP   Hyperactif        Automne               Midi  Europe continentale       Ancien            Faible           Semaine              Grand      Explorateur  Unknown        Active          France      0                         0     2009         9     1796.835000
3       13748       96          5         948.25    33.866071    42.953119         9.36       204.00            439                  15.678571            1           80                 278                   374                   0              9               9              0.000000                10.259259              24                  24                   4.800000                1                      0               0                      0     0.000000                 28               5            5.600000  32.0                  2.0                2.0  Potentiels       25-34             High      Nouveau        Automne              Matin                   UK       Établi          Critique           Inconnu              Grand      Explorateur  Unknown        Active  United Kingdom      1                         0     2010         1        9.775773
4       15100      330          6         635.10   105.850000   215.986263      -131.40       350.40             58                   9.666667          -12           32                  43                   374                   2              9              12              0.000000                 8.200000               1                   1                   0.166667                1                      3               0                      3     0.500000                  6               6            1.000000  49.0                  2.0                1.0  Potentiels     Inconnu             High        Perdu          Hiver              Matin                   UK        Jeune          Critique           Inconnu              Moyen       Spécialisé        M        Active  United Kingdom      1                         0     2009        10        1.918731

Colonnes créées :
   RegYear  RegMonth  MonetaryPerDay
0     2010         7       17.454224
1     2010         4       93.306061
2     2009         9     1796.835000
3     2010         1        9.775773
4     2009        10        1.918731